@charset "UTF-8";

body{
    background-color: #fa9519;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background-color: antiquewhite;
    margin: 25px;
    padding: 50px;
}

h1{
    color: #04030F;
}

h1#principal{
    color: white;
    background-color: rgb(16, 127, 224);
    text-align: center;
}

h2{
    color: blueviolet;
}
.basico{
color: #9BC53D;
}
.intermediario{
color: #e0d054;
}
.avancado{
    color: #E55934;
}